<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
          <h2 class="footer-heading mb-4">Užitečné Odkazy</h2>
          <ul class="list-unstyled">
            <li><a href="#">O Nás</a></li>
            <li><a href="#">Služby</a></li>
            <li><a href="#">Doporučení</a></li>
            <li><a href="#">Kontaktujte Nás</a></li>
          </ul>
        </div>
        <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
          <h2 class="footer-heading mb-4">Služby</h2>
          <ul class="list-unstyled">
            <li><a href="#">Akupresura</a></li>
            <li><a href="#">Vietnamská Tradiční Masáž</a></li>
            <li><a href="#">Klasická Masáž</a></li>
            <li><a href="#">Sportovní Masáž</a></li>
            <li><a href="#">Relaxační Masáž</a></li>
          </ul>
        </div>
        <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
          <h2 class="footer-heading mb-4">Lorem</h2>
          <ul class="list-unstyled">
            <li><a href="#">O Nás</a></li>
            <li><a href="#">Služby</a></li>
            <li><a href="#">Doporučení</a></li>
            <li><a href="#">Kontaktujte Nás</a></li>
          </ul>
        </div>
        <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
          <h2 class="footer-heading mb-4">Sledujte Nás</h2>
          <a class="pl-0 pr-3" href="#"><span class="icon-facebook"></span></a>
          <a class="pl-3 pr-3" href="#"><span class="icon-twitter"></span></a>
          <a class="pl-3 pr-3" href="#"><span class="icon-instagram"></span></a>
          <a class="pl-3 pr-3" href="#"><span class="icon-linkedin"></span></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <h2 class="footer-heading mb-4">Přihlášení k Odběru Novinek</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus
        necessitatibus voluptate aliquam velit nostrum tempora ipsam.</p>
      <form action="#" class="subscription" method="post">
        <div class="input-group mb-3  d-flex align-items-stretch">
          <input aria-describedby="button-addon2" aria-label="Zadejte E-mail" class="form-control bg-transparent"
                 placeholder="Enter Email" type="text">
          <button class="btn btn-primary text-white" id="button-addon2" type="button">Odeslat</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row pt-5 mt-5">
    <div class="col-12 text-md-center text-left">
      <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
        All rights reserved | This template is made with <i aria-hidden="true"
                                                            class="icon-heart text-danger"></i> by <a
              href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>
</div>