<div class="block-quick-info-2">
  <div class="container">
    <div class="block-quick-info-2-inner">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
          <div class="d-flex quick-info-2">
            <span class="icon icon-home mr-3"></span>
            <div class="text">
              <strong class="d-block heading">Naše adresa</strong>
              <span class="excerpt">Estonská 8, Praha 10</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
          <div class="d-flex quick-info-2">
            <span class="icon icon-phone mr-3"></span>
            <div class="text">
              <strong class="d-block heading">Rezervace přes telefon</strong>
              <span class="excerpt"><a href="tel:+420 602 503 669">+420 602 503 669</a></span><br/>
              <span class="excerpt"><a href="tel:+420 770 673 844">+420 770 673 844</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
          <div class="d-flex quick-info-2">
            <span class="icon icon-envelope mr-3"></span>
            <div class="text">
              <strong class="d-block heading">Rezervace přes e-mail</strong>
              <span class="excerpt"><a href="mailto:vnmasaz@gmail.com">vnmasaz@gmail.com</a></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
          <div class="d-flex quick-info-2">
            <span class="icon icon-clock-o mr-3"></span>
            <div class="text">
              <strong class="d-block heading">Otevírací doba</strong>
              <span class="excerpt">Po-Pá &nbsp;&nbsp;&nbsp; 9:00 - 19:00
                                    Sobota &nbsp; 9:00 - 18:00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>